{{- $skillID := printf "skill-%s" (urlize .name) -}}
{{- $modalID := printf "%s-modal" $skillID -}}
{{- $hasDetails := and (isset . "details") .details -}}
<div class="col-xs-12 col-sm-6 col-lg-4 pt-2 filtr-item"
  data-category='all, {{ with .categories }}{{ delimit . ","}}{{ end }}'
>
  <a
    class="text-decoration-none{{ if $hasDetails }} skill-card-link-with-details{{ end }}"
    {{ if $hasDetails }}
      href="#{{ $modalID }}"
      role="button"
      data-bs-toggle="modal"
      data-bs-target="#{{ $modalID }}"
      aria-controls="{{ $modalID }}"
      aria-label="{{ i18n "view_skill_details" }}: {{ .name }}"
    {{ else if .url }}
      href="{{ .url }}"
      title="{{ .name }}"
      target="_blank"
      rel="noopener"
    {{ end }}
  >
    <div class="card">
      <div class="card-head d-flex">
        {{ if .logo }}
          {{ $logoImage := resources.Get .logo }}
          {{ $darkLogoImage := resources.Get .darkLogo }}
          {{/* SVG images don't support the Fit operation. */}}
          {{ if ne $logoImage.MediaType.SubType "svg" }}
            {{ $logoImage = $logoImage.Fit "24x24" }}
          {{ end }}
          {{ if and $darkLogoImage (ne $darkLogoImage.MediaType.SubType "svg") }}
            {{ $darkLogoImage = $darkLogoImage.Fit "24x24" }}
          {{ end }}

          {{ if $darkLogoImage }}
            <img class="card-img-xs light-logo" src="{{ $logoImage.RelPermalink }}" alt="{{ .name }}" />
            <img class="card-img-xs dark-logo" src="{{ $darkLogoImage.RelPermalink }}" alt="{{ .name }}" />
          {{ else }}
            <img class="card-img-xs" src="{{ $logoImage.RelPermalink }}" alt="{{ .name }}" />
          {{ end }}
          <h5 class="card-title">{{ .name }}</h5>
        {{ else if .icon }}
          {{ $iconName := .icon }}
          <h5 class="card-title"><span class="{{ $iconName }}"> {{ .name }}</span></h5>
        {{ else }}
          <h5 class="card-title">{{ .name }}</h5>
        {{ end }}
      </div>
      <div class="card-body text-justify pt-1 pb-1">
        <p class="card-text">{{ .summary | markdownify }}</p>
        {{ if $hasDetails }}
          <span class="skill-card-details-hint" aria-hidden="true">
            {{ i18n "view_skill_details" }}
            <i class="fas fa-arrow-right"></i>
          </span>
        {{ end }}
      </div>
    </div>
  </a>
</div>
